h2 {
    margin-top: 40px;
    padding: 0 20px;
}

/***********/
/* ANUNCIO */
/***********/
    
.galeria {
    width: 100%;
    overflow: hidden;
}

.galeria ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.galeria-imagem {
    display: none;
}

.thumb {
    max-height: 200px;
    padding: 10px 5px;
}

.galeria-imagem:target {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-imagem img {
    max-height: 90%;
    max-width: 90%;
    margin: 3% 3%;
}

.galeria-imagem .botao-secundario {
    position: absolute;
    font-size: 40px;
    background-color: #fff;
}

.galeria-imagem .botao-secundario:hover {
    border: 1px solid #fff;
}

#anterior {
    left: 1%;
    top: 40%;
}

#proxima {
    right: 1%;
    top: 40%;
}

#fechar {
    top: 0;
    right: 2%;
}

.anuncio-texto {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.anuncio-texto-esquerda {
    padding: 20px;
    width: 70%;
}

.anuncio-texto-esquerda-icones {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.anuncio-texto-esquerda-icones div {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 125px;
    border: 1px solid black;
}

.anuncio-texto-esquerda-icones div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.anuncio-texto-direita {
    width: 30%;
}

.anuncio-texto-direita-icones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 0;
}

.anuncio-texto-direita-icones i {
    margin: 0 10px;
    font-size: 1.5em;
}

.anuncio-texto-direita-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

.anuncio-texto-direita-form-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.anuncio-texto-direita-form-head div {
    width: 34%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.anuncio-texto-direita-form-head div.selecionada {
    border-bottom: none;
}

.anuncio-texto-direita form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {

    #anterior {
        top: 80%;
    }
    
    #proxima {
        top: 80%;
    }
    
    .anuncio-texto {
        flex-direction: column;
    }

    .anuncio-texto-esquerda {
        width: 100%;
    }

    .anuncio-texto-direita {
        width: 100%;
    }
    
    .anuncio-texto-direita-icones {
        justify-content: center;
        margin: 20px 0;
    }
}
