.agendamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agendamentos > div {
    display: flex;
    flex-direction: row;
}

.visita-agendada {
    margin-left: 50px;
}

.propostas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analises {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graficos {
    width: 1000px;
}